<template name="pageHeader">

    <div class="normalheader transition {{#unless big}} small-header {{/unless}}">
        <div class="hpanel">
            <div class="panel-body">

                <div id="hbreadcrumb" class="pull-right {{#if big}}m-t-lg{{/if}}">
                  <ol class="hbreadcrumb breadcrumb">
                      <li><a href="{{pathFor 'home'}}">Home</a></li>
                      {{#if notHome}}
                        {{#each categories}}
                        <li>
                            <span>{{this}}</span>
                        </li>
                        {{/each}}
                      {{/if}}
                      <li class="active">
                        {{#if altTitle}}
                          <span>{{altTitle}}</span>
                          {{else}}
                          <span>{{title}}</span>
                        {{/if}}

                        </li>
                    </ol>
                </div>
                {{#if desc}}
                  <h2 class="font-light m-b-xs">
                    {{title}}
                  </h2>
                  {{else}}
                  <h3>{{title}}</h3>
                {{/if}}

                {{#if desc}}
                  <small>{{desc}}</small>
                {{/if}}
            </div>
        </div>
    </div>

</template>
