<template name="adminNavigation">
    <aside id="menu">
        <div id="navigation">
            <div class="profile-picture">
              <a href="{{pathFor 'adminHome'}}">
                <i class="pe-7s-coffee fa-5x"></i>
              </a>

                <div class="stats-label text-color">
                    <span class="font-extra-bold font-uppercase">Admin</span>
                </div>
            </div>
	    <ul class="nav" id="side-menu">
	      <li class="disabled"><a href="">Nothing to see here.</a></li>
	      <li class="disabled"><a href="">Move along...</a></li>
	    </ul>
	</div>
    </aside>
</template>
