<template name="dashboard">
  {{#staggering}}
    <div class="content">
      {{#if subsReady}}
	{{#if has_things thing_count}}
	  <div class="row">
            <div class="col-lg-12">
	      <div class="hpanel">
		<h2>This space intentionally left blank.</h2>
              </div>
	    </div>
	  </div>
	  {{else}}
	  <div class="row">
            <div class="col-lg-12">
	      <div class="hpanel">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2 class="m-b-xs">Welcome to the Meteor Playground!</h2>
                            <p class="font-bold text-success">Let's get started!</p>
                            <div class="m">
                                <i class="pe-7s-science fa-5x"></i>
                            </div>
                            <p class="small">
                                Things are the primary way you will interact with Vortextuality. They are used for organizing data from various sources, as places to post your own stuff and much much more.
                            </p>
			    <a class="btn btn-success btn-sm add_thing" href="{{pathFor 'addThing'}}">Add your first thing!</a>
                            
                        </div>
                    </div>
                </div>
            </div>
	  </div>
	{{/if}}
	{{ else }}
    <!-- Splash screen -->
    {{> splash }}

      {{/if}}
    </div>
  {{/staggering}}
</template>
