<template name="settings_profile">
  {{>pageHeader title="Profile" category="Settings"}}
  {{#staggering}}
    <div class="content animate-panel">
      <div class="row">
        <div class="col-lg-4">
          {{#with currentUser}}
        <div class="hpanel h{{getColor}}">
          <div class="panel-body">
              <div class="pull-right text-right">
                <div class="btn-group">
                  <a href="{{pathFor 'editSettingsProfile'}}" title="Edit Profile"><i class="fa-3x pe-7s-config"></i></a>
                </div>
              </div>
<!-- <div class="pull-right text-right">
              <div class="btn-group">
                <i class="fa fa-facebook btn btn-default btn-xs"></i>
                <i class="fa fa-twitter btn btn-default btn-xs"></i>
                <i class="fa fa-linkedin btn btn-default btn-xs"></i>
              </div>
            </div>
-->
              {{>avatar user=this class="img-circle m-b m-t-md"}}
                <h3>{{prettyUserName this}}</h3>

                <div class="text-muted font-bold m-b-xs">{{#if profile.website}}<a href="{{profile.website}}">{{profile.website}}</a>{{/if}}</div>
                <p>
                   {{{profile.bio}}}
                </p>
                {{>progress percent=profile_completion color=getStatusColor}}
            </div>
            <!-- use for public things -->
            <!--
            <div class="panel-body">
                <dl>
                    <dt>Description lists</dt>
                    <dd>A description list is perfect for defining terms.</dd>
                    <dt>Euismod</dt>
                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                    <dt>Malesuada porta</dt>
                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                </dl>
            </div>
            -->
            <div class="panel-footer contact-footer">
                <div class="row">
                    <div class="col-md-4 border-right">
                        <div class="contact-stat"><span>Things: </span> <strong>{{thing_count}}</strong></div>
                    </div>
                    <div class="col-md-4 border-right">
                        <div class="contact-stat"><span>Followers: </span> <strong>{{follower_count}}</strong></div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-stat"><span>Friends: </span> <strong>{{friend_count}}</strong></div>
                    </div>
                </div>
            </div>

        </div>
        {{/with}}
    </div>
      </div>
    </div>
    {{/staggering}}
</template>
